.header{ 
  display: flex;
  flex-direction: row;
  text-align: center;
  background: blue;
  color: white;
}
.header1{
  padding-right: 45px;
}
.header2{
  padding-right: 45px;
}
.header3{
  padding-left: 1100px;
}
.whole_page{
  background: brown;
}
